/* @tailwind base;
@tailwind components;
@tailwind utilities;
background-color: rgb(102, 252, 241); */
html,
body {
  font-family: "PT Sans Narrow", sans-serif;
  background-color: rgb(11, 12, 16);
  min-height: 100%;
}

button {
  font-family: "PT Sans Narrow", sans-serif;
}

#mainBody {
  column-gap: 100px;
  display: grid;
  grid-template-row: 250px 1fr;
}

#navigationBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 100px;
}

#sideBar {
  background-color: transparent;
  border: none;
  color: rgb(197, 198, 199);
  cursor: pointer;
  font-size: 2.5em;
  padding: 10px;
  margin-bottom: 10px;
  transition: color 0.25s;
}

#sideBar:hover {
  color: rgb(102, 252, 241);
}
#sideBar:active {
  opacity: 0.5;
}

#mainPage {
}

#textPage {
  color: rgb(102, 252, 241);
  text-align: center;
}

#myName {
  font-size: 3em;
  margin: 0;
}

#aboutMe {
  font-size: 2em;
}

p {
  color: rgb(197, 198, 199);
  font-size: 1.5em;
  margin: 0;
}

.hobbyDiv {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
