<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- TODO: Add favicon. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/games.css" />
    <title>Games</title>
  </head>
  <body>
    <div id="mainBody">
      <div>
        <div id="navigationBar">
          <a href="/index.html"><button id="sideBar">Home</button></a>
          <a href="../html/hobbies.html"
            ><button id="sideBar">Hobbies</button></a
          >
          <a href="../html/interest.html"
            ><button id="sideBar">Interest</button></a
          >
          <a href="../html/games.html"> <button id="sideBar">Games</button></a>
          <a href="../html/socials.html"
            ><button id="sideBar">Socials</button></a
          >
        </div>
      </div>

      <div id="mainPage">
        <div id="textPage">
          <h1 id="myName">Games</h1>
          <p>My Favourite games</p>
        </div>

        <div id="gamesDiv">
          <div class="imageText">
            <div class="image">
              <img src="../images/games/acod.jpeg" alt="Assassins Creed" />
              <div class="textImage">
                <h2>Assassins Creed</h2>
              </div>
            </div>
          </div>

          <div class="imageText">
            <div class="image">
              <img src="../images/games/apex.jpg" alt="Apex Legends" />
              <div class="textImage">
                <h2>Apex Legends</h2>
              </div>
            </div>
          </div>

          <div class="imageText">
            <div class="image">
              <img src="../images/games/ark.jpg" alt="Ark" />
              <div class="textImage">
                <h2>Ark</h2>
              </div>
            </div>
          </div>

          <div class="imageText">
            <div class="image">
              <img src="../images/games/batman.avif" alt="Batman" />
              <div class="textImage">
                <h2>Batman: Arkham Knight</h2>
              </div>
            </div>
          </div>

          <div class="imageText">
            <div class="image">
              <img src="../images/games/dirtybomb.jpg" alt="Dirty Bomb" />
              <div class="textImage">
                <h2>Dirty Bomb</h2>
              </div>
            </div>
          </div>

          <div class="imageText">
            <div class="image">
              <img src="../images/games/kena.jpg" alt="Kena" />
              <div class="textImage">
                <h2>Kena Bridge of Spirits</h2>
              </div>
            </div>
          </div>

          <div class="imageText">
            <div class="image">
              <img src="../images/games/lol.webp" alt="League of Legends" />
              <div class="textImage">
                <h2>League of Legends</h2>
              </div>
            </div>
          </div>

          <div class="imageText">
            <div class="image">
              <img src="../images/games/valorant.jpg" alt="Valorant" />
              <div class="textImage">
                <h2>Valorant</h2>
              </div>
            </div>
          </div>

          <div class="imageText">
            <div class="image">
              <img src="../images/games/warframe.jpg" alt="Warframe" />
              <div class="textImage">
                <h2>Warframe</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
