<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/hobbies.css" />
    <title>Hobbies</title>
  </head>
  <body>
    <div id="mainBody">
      <div>
        <div id="navigationBar">
          <a href="/index.html"><button id="sideBar">Home</button></a>
          <a href="../html/hobbies.html"
            ><button id="sideBar">Hobbies</button></a
          >
          <a href="../html/projects.html"
            ><button id="sideBar">Projects</button></a
          >
          <a href="../html/games.html"> <button id="sideBar">Games</button></a>
          <a href="../html/socials.html"
            ><button id="sideBar">Socials</button></a
          >
        </div>
      </div>

      <div id="mainPage">
        <div id="textPage">
          <h1 id="myName">Hobbies</h1>
          <div>
            <div class="hobbyDiv">
              <div class="animeDiv">
                <h1 class="titles">Anime</h1>
                <div class="animeListScroller">
                  <div class="animeImage">
                    <img src="../images/anime/aot.avif" alt="Attack on Titan" />
                    <div class="imageText">
                      <p>Attack on Titan</p>
                    </div>
                  </div>
                  <div class="animeImage">
                    <img src="../images/anime/konosuba.jpg" alt="Konosuba" />
                    <div class="imageText">
                      <p>Konosuba: God's Blessing on This Wonderful World!</p>
                    </div>
                  </div>
                  <div class="animeImage">
                    <img src="../images/anime/fireforce.jpg" alt="Fire Force" />
                    <div class="imageText">
                      <p>Fire Force</p>
                    </div>
                  </div>
                  <div class="animeImage">
                    <img
                      src="../images/anime/demonslayer.jpg"
                      alt="Demon Slayer"
                    />
                    <div class="imageText">
                      <p>Demon Slayer</p>
                    </div>
                  </div>
                  <div class="animeImage">
                    <img
                      src="../images/anime/ghoststories.jpg"
                      alt="Ghost Stories"
                    />
                    <div class="imageText">
                      <p>Ghost Stories</p>
                    </div>
                  </div>
                  <div class="animeImage">
                    <img
                      src="../images/anime/onepunchman.jpg"
                      alt="Attack on Titan"
                    />
                    <div class="imageText">
                      <p>One Punch Man</p>
                    </div>
                  </div>
                  <div class="animeImage">
                    <img
                      src="../images/anime/myhero.jpg"
                      alt="My Hero Academia"
                    />
                    <div class="imageText">
                      <p>My Hero Academia</p>
                    </div>
                  </div>
                  <div class="animeImage">
                    <img src="../images/anime/saiki.jpg" alt="Saiki" />
                    <div class="imageText">
                      <p>The Disastrous Life of Saiki K.</p>
                    </div>
                  </div>
                  <div class="animeImage">
                    <img
                      src="../images/anime/castlevania.jpg"
                      alt="Castlevania"
                    />
                    <div class="imageText">
                      <p>Castlevania</p>
                    </div>
                  </div>
                  <div class="animeImage">
                    <img
                      src="../images/anime/dailylifeoftheimmortalking.webp"
                      alt="Daily Life of the Immortal King"
                    />
                    <div class="imageText">
                      <p>Daily Life of the Immortal King</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="arsenal">
                <h1 class="titles">Football</h1>
                <div class="arsenal_grid">
                  <div class="arsenal_images">
                    <div class="football">
                      <img
                        class="picture"
                        src="../images/arsenal/arsenal.webp"
                        alt="Arsenal Logo"
                      />
                    </div>
                    <div class="football">
                      <img
                        class="picture"
                        src="../images/arsenal/martinelli.jpg"
                        alt="Arsenal players"
                      />
                    </div>
                    <div class="football">
                      <img
                        class="picture"
                        src="../images/arsenal/arsenall.webp"
                        alt="Arsenal players"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="gaming">
                <a href="../html/games.html"
                  ><span class="titles">Gaming</span></a
                >
              </div>
              <div>
                <h1 class="titles">DC Comics</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
