<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- TODO: Add favicon. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/socials.css" />
    <title>Socials</title>
  </head>
  <body>
    <div id="mainBody">
      <div>
        <div id="navigationBar">
          <a href="/index.html"><button id="sideBar">Home</button></a>
          <a href="../html/hobbies.html"
            ><button id="sideBar">Hobbies</button></a
          >
          <a href="../html/interest.html"
            ><button id="sideBar">Interest</button></a
          >
          <a href="../html/games.html"> <button id="sideBar">Games</button></a>
          <a href="../html/socials.html"
            ><button id="sideBar">Socials</button></a
          >
        </div>
      </div>

      <div id="mainPage">
        <div id="textPage">
          <h1 id="myName">My Socials</h1>
          <p>Socials</p>
          <p>#Add more later</p>
        </div>
      </div>
    </div>
  </body>
</html>
